@media (max-width: 992px) {
    .header_icon{
        display: none;
    }
    .contact_img{
        display:none;
    }
    .header_form{
        display: none;
    }
    .header_nav{
        justify-content: flex-end;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 640px) {
    .nav_links{
        display: none;
    }
}